<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240138820853-38v7n9tjvl438t3ld3a6pa7nsekfmn1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240138820853-38v7n9tjvl438t3ld3a6pa7nsekfmn1u</string>
	<key>API_KEY</key>
	<string>AIzaSyDwtxQavD7CGD568ToiB3UjKDLvcIQlqRA</string>
	<key>GCM_SENDER_ID</key>
	<string>240138820853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogulcanaslan.I-nstaCloneFireBase</string>
	<key>PROJECT_ID</key>
	<string>instafromfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>instafromfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240138820853:ios:40f92cd3e319a80b94b9bc</string>
</dict>
</plist>